.cart-body{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.cart-list-body{
    height: 500px;
    max-width: 800px;
    width: 95%;
    overflow: scroll;
    /* background-color: bisque; */
}

.cart-list-body::-webkit-scrollbar{
    display: none;
}